0 23 * * * /home/ec2-user/nop/script/cron/run-and-mail-on-error.sh "アプリデータのバックアップ前のアプリ停止" /home/ec2-user/nop/script/cron/stop-app-before-creating-snapshot-of-ebs-data-volume.sh /home/centos/nop/log/stop-app-error.log 2>>/home/centos/nop/log/stop-app-error.log
30 0 * * * /home/ec2-user/nop/script/cron/run-and-mail-on-error.sh "アプリデータのバックアップ後のアプリ開始" /home/ec2-user/nop/script/cron/start-app-after-creating-snapshot-of-ebs-data-volume.sh /home/centos/nop/log/start-app-error.log 2>>/home/centos/nop/log/start-app-error.log
