*/5 * * * * /home/centos/nop/script/cron/run-and-mail-on-error.sh "監視用のメトリクス取得" /home/centos/nop/script/cron/send-ec2-data-to-cloudwatch.sh /home/centos/nop/log/cron-cloudwatch-error.log 2>>/home/centos/nop/log/cron-run-cloudwatch-error.log
0 23 * * * /home/centos/nop/script/cron/run-and-mail-on-error.sh "アプリデータのバックアップ" /home/centos/nop/script/cron/create-snapshot-of-ebs-data-volume.sh /home/centos/nop/log/cron-snapshot-error.log 2>>/home/centos/nop/log/cron-run-snapshot-error.log
