*/5 * * * * /home/centos/nop/script/cron/run-and-mail-on-error.sh "監視用のメトリクス取得" /home/centos/nop/script/cron/send-ec2-data-to-cloudwatch.sh /home/centos/nop/log/cron-cloudwatch-error.log 2>>/home/centos/nop/log/cron-run-cloudwatch-error.log
0 23 * * * /home/centos/nop/script/cron/run-and-mail-on-error.sh "アプリデータのバックアップ前のアプリ停止" /home/centos/nop/script/cron/stop-app-before-creating-snapshot-of-ebs-data-volume.sh /home/centos/nop/log/stop-app-error.log 2>>/home/centos/nop/log/stop-app-error.log
30 0 * * * /home/centos/nop/script/cron/run-and-mail-on-error.sh "アプリデータのバックアップ後のアプリ開始" /home/centos/nop/script/cron/start-app-after-creating-snapshot-of-ebs-data-volume.sh /home/centos/nop/log/start-app-error.log 2>>/home/centos/nop/log/start-app-error.log
