# - 修正内容
#   - HTTP_PROXY_HOST/HTTP_PROXY_PORT（オプション）
#     - インストール先のAWSがプロキシ環境下の場合に指定します。
#     - 作業PCの環境は関係ありません。
#     - プロキシ情報はネットワーク管理者に確認してください。
#   - AWS_REGION（必須）
#     - インストール先のAWSのリージョンを指定します。
#   - AWS_SNS_TOPIC（必須）
#     - SNSのトピックのARNを指定します。
#     - バックアップ取得失敗時のメール送信先に使用します。
#     - AWSマネジメントコンソールでSNSにアクセスし、トピックのARNを確認します。
#       - ![SNSのトピックARN](images/aws-sns-topicarn.png)
#   - CENTOS_CQ_PASS/CENTOS_CI_PASS/CENTOS_DEMO_PASS（必須）
#     - 各インスタンスのcentosユーザのパスワードを指定します。
#     - 各インスタンス間のSSH接続に使用します。

HTTP_PROXY_HOST=
HTTP_PROXY_PORT=
AWS_REGION=ap-northeast-1
AWS_SNS_TOPIC=
CENTOS_CQ_PASS=
CENTOS_CI_PASS=
CENTOS_DEMO_PASS=