# - 修正内容
#   - <と>で囲まれた部分を指定します。
#   - キーペアファイルへのパスは作業場所のディレクトリを起点として指定します。
#   - キーペアファイルを「nop/.ssh/pass-app.pem」に置いた場合は「.ssh/paas-app.pem」になります。

# 踏み台サーバ
Host nop-bastion
    HostName        <踏み台サーバのパブリックIP>
    Port            22
    IdentityFile    <踏み台サーバのキーペアファイルへのパス>
    User            <踏み台サーバのSSHのユーザ名>

# コミュニケーション/品質サーバ
Host nop-cq
    HostName        <CQサーバのプライベートIP>
    Port            22
    IdentityFile    <CQサーバのキーペアファイルへのパス>
    User            ec2-user
    ProxyCommand    ssh -F .ssh/ssh.config  -W %h:%p nop-bastion

# CIサーバ
Host nop-ci
    HostName        <CIサーバのプライベートIP>
    Port            22
    IdentityFile    <CIサーバのキーペアファイルへのパス>
    User            ec2-user
    ProxyCommand    ssh -F .ssh/ssh.config  -W %h:%p nop-bastion

# デモサーバ
Host nop-demo
    HostName        <DemoサーバのプライベートIP>
    Port            22
    IdentityFile    <Demoサーバのキーペアファイルへのパス>
    User            ec2-user
    ProxyCommand    ssh -F .ssh/ssh.config  -W %h:%p nop-bastion
